
<h2>Daten verwalten</h2>

<p>Dein Benutzername lautet <b><%= current_user.username %></b>.</p>

<p>
  <%= link_to "Passwort ändern", users_change_password_url, :class => "btn" %>
  <%= link_to "Daten zurücksetzen", users_reset_url, :method => "DELETE", :confirm => "Sind Sie sicher?", :class => "btn" %>
  
</p>

