<div class="page-header">
  <h1>Willkommen zurück<small> zu Ham &amp; Eggs, dem Online-Trainer zur AFU-Prüfung</small></h1>
</div>
<div class="row">
  <div class="span7">
    
    asdf
    
  </div>
  <div class="span5">
    
    <h3>Dein Lernfortschritt im Überblick</h3>
    
    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    
    <a href="/statistik" class="btn">Mehr Statistik anzeigen...</a>
    
    
  </div>
</div>
